.container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-gap: 10px;
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container > * {
    grid-column: 2;
    min-width: 0;
}

.logo {
    padding: 25px;
}

.h1 {
    padding: 25px;
}

.h2 {
    padding: 25px;
}

.form {
}

.content {
}

.copyright {
    padding: 25px;
}

.footer {
    padding: 25px;
}